{% extends '@StewieUser/default/layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block filterTitle %}{{ 'header.filter'|trans }}{% endblock filterTitle %}

{% block filterContent %}
{#{ form_start(filterForm) }#}
{#{ form_row(filterForm.userRole) }#}
{#{ form_end(filterForm) }#}
{% endblock filterContent %}

{% block pageTitle %}{{ 'header.group.list'|trans }}{% endblock pageTitle %}
{% block pageMenu %}
  {% if is_granted('ROLE_USER_GROUP_CREATE') %}
    <a href="{{ path('stewie_user_group_create') }}" class="btn btn-primary" role="button">{{ 'label.group.create'|trans }}</a>
  {% endif %}
{% endblock pageMenu %}

{% block content %}
<!-- actual table -->
<table class="table table-striped">
<thead> <tr>
  <th>{{ knp_pagination_sortable(groupList, '#', 'u.id') }}</th>
  <th>{{ knp_pagination_sortable(groupList, 'label.name'|trans, 'g.name') }}
    {% if groupList.isSorted('g.name') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ 'label.roles'|trans }}</th>
  <th>{{ 'label.member_s'|trans }}</th>
  <th>{{ 'label.status'|trans }}</th>
  <th>{{ 'label.actions'|trans }}</th>
</tr> </thead>
{% for item in groupList %}
<tr>
  <td>{{ item.id }}
    {% if vich_uploader_asset(item, 'avatarFile') %}
      <img src="{{ vich_uploader_asset(item, 'avatarFile') | imagine_filter('stewie_user_thumb_filter') }}" alt="{{ 'labal.avatar'|trans }}" />
    {% endif %}
  </td>
  <td>{{ item.name }}</td>
    <td>{{ item.groupRoles|length }} {{ 'label.role_s'|trans }}</td>
    <td>{{ item.users|length }} {{ 'label.member_s'|trans }}</td>
  <td>
  </td>
  <td>
    <a data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.view'|trans }}" href="{{ path('stewie_user_group_view_detail', {'slug': item.slug}) }}"><i class="far fa-eye"></i></a>
    {% if is_granted('ROLE_USER_GROUP_EDIT') %}
      <a data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.edit'|trans }}" href="{{ path('stewie_user_group_edit_detail', {'slug': item.slug}) }}"><i class="far fa-edit"></i></a>
      <a data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.delete'|trans }}" href="{{ path('stewie_user_group_delete', {'slug': item.slug}) }}"><i class="fas fa-trash"></i></a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
{# display navigation #}
      {{ knp_pagination_render(groupList) }}
{% endblock content %}
