{% extends '@stefanwiegmann_user/default/layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block filterTitle %}{{ 'header.filter'|trans }}{% endblock filterTitle %}

{% block filterContent %}
{#{ form_start(filterForm) }#}
{#{ form_row(filterForm.userRole) }#}
{#{ form_end(filterForm) }#}
{% endblock filterContent %}

{% block pageTitle %}{{ 'header.roleList'|trans }}{% endblock pageTitle %}
{% block pageMenu %}{% endblock pageMenu %}

{% block content %}
{# total items count #}
<!-- <div class="count">
    {#{ users.sort }#}
</div> -->
<table class="table table-striped">
<thead> <tr>
  <th>{{ knp_pagination_sortable(roleList, '#', 'r.id') }}</th>
  <th>{{ knp_pagination_sortable(roleList, 'label.name'|trans, 'r.name') }}
    {% if roleList.isSorted('r.name') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ 'label.groups'|trans }}</th>
  <th>{{ 'label.users'|trans }}</th>
  <th>{{ 'label.actions'|trans }}</th>
</tr> </thead>
{% for item in roleList %}
<tr>
  <td>{{ item.id }}</td>
  <td>{{ item.name }}</td>
  <td>{{ item.groups|length }} {{ 'label.group_s'|trans }}</td>
  <td>{{ item.users|length }} {{ 'label.user_s'|trans }}</td>
  <td>
    {% if is_granted('ROLE_USER_ADMIN') %}
      <a data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.listGroups'|trans }}" href="{{ path('sw_user_role_group_list', {'role': item.id}) }}"><i class="fas fa-users-cog"></i></a>
    {#% else %#}
      <a data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.listUsers'|trans }}" href="{{ path('sw_user_group_edit', {'id': item.id}) }}"><i class="fas fa-user-cog"></i></a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
{# display navigation #}
      {{ knp_pagination_render(roleList) }}
{% endblock content %}
