{% extends '@stefanwiegmann_user/default/layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block filterTitle %}{{ 'header.filter'|trans }}{% endblock filterTitle %}

{% block filterContent %}
{#{ form_start(filterForm) }#}
{#{ form_row(filterForm.userRole) }#}
{#{ form_end(filterForm) }#}
{% endblock filterContent %}

{% block pageTitle %}{{ 'header.roleUserList'|trans }} {{role.name}}{% endblock pageTitle %}
{% block pageMenu %}{% endblock pageMenu %}

{% block content %}
{# total items count #}
<!-- <div class="count">
    {#{ users.sort }#}
</div> -->
<table class="table table-striped">
<thead> <tr>
  <th>{{ knp_pagination_sortable(userList, '#', 'u.id') }}</th>
  <th>{{ knp_pagination_sortable(userList, 'label.username'|trans, 'u.username') }}
    {% if userList.isSorted('u.username') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ knp_pagination_sortable(userList, 'label.realName'|trans, ['u.firstName', 'u.lastName']) }}
    {% if userList.isSorted('u.firstName+u.lastName') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ knp_pagination_sortable(userList, 'label.email'|trans, 'u.email') }}
    {% if userList.isSorted('u.email') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ 'label.actions'|trans }}</th>
</tr> </thead>
{% for item in userList %}
<tr>
  <td>{{ item.id }}</td>
  <td>{{ item.username }}</td>
  <td>{{ item.firstName }} {{ item.lastName }}</td>
  <td>{{ item.email }}</td>
  <td>
    {% if is_granted('ROLE_USER_ADMIN') %}
      <a data-toggle="tooltip" title="{{ 'tooltip.remove'|trans }}" href="#removeModal"><i
                  class="fas fa-trash" data-toggle="modal" data-target="#removeModal"
                  data-confirmation="{{ 'confirmation.remove'|trans({'%what%': item.username, '%from%': role.name}) }}"
                  data-role="{{ role.id }}" data-user="{{ item.id }}"></i></a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
{# display navigation #}
      {{ knp_pagination_render(userList) }}

<!-- modal -->
{% include "@stefanwiegmann_user/modal/remove.html.twig" with {'transdomain': 'SWUserBundle'} %}

{% endblock content %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        // remove modal
        var userId = 0;
        var roleId = 0;
        $('#removeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            userId = button.data('user') // Extract info from data-* attributes
            roleId = button.data('role') // Extract info from data-* attributes
            confirmation = button.data('confirmation')
            var modal = $(this)
            modal.find('.modal-body').text(confirmation)
        });

        $('#removeModalButton').mouseup(function () {
            $.ajax({
                  type: "POST",
                  url: "{{ path('sw_user_role_user_remove') }}",
                  data: {userId: userId, roleId: roleId }
              // })
              // .done(function(response){
              //   var responseObj = JSON.parse(response);
              //     alert(responseObj.userId);
              //     alert(responseObj.roleId);
              });
            window.location.href = '{{ path('sw_user_role_user_list', {'role': role.id}) }}';
        });

    </script>
{% endblock javascripts %}
