{% extends '@StewieUser/profile/layout.html.twig' %}
{% trans_default_domain 'StewieUserBundle' %}

{% block filterBlock %}{% endblock filterBlock %}

{% block pageTitle %}{{ 'header.profile'|trans }}{% endblock pageTitle %}
{% block pageMenu %}
{{ form_start(form) }}
    {{ form_widget(form.submit) }}
{% endblock pageMenu %}

{% block content %}
<!-- info row -->
<div class="row">
    <div class="card">
      <h5 class="card-header">{{ 'label.info'|trans }}</h5>
      <div class="card-body">
        info
      </div>
    </div>
</div>

<br>
<!-- actual form -->

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        {{ form_label(form.username) }}
      </div>
      <div class="col-sm-10">
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        {{ 'label.avatar'|trans }}
      </div>
      <div class="col-sm-10">
        avatar
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        {{ form_label(form.email) }}
      </div>
      <div class="col-sm-10">
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        {{ 'label.fullName'|trans }}
      </div>
      <div class="col-sm-auto">
        {{ form_errors(form.firstName) }}
        {{ form_widget(form.firstName, {'attr': {'placeholder': 'label.firstName'} }) }}
      </div>
      <div class="col-sm-auto">
        {{ form_errors(form.lastName) }}
        {{ form_widget(form.lastName, {'attr': {'placeholder': 'label.lastName'} }) }}
      </div>
    </div>

{{ form_end(form) }}

<br>
<div class="row">
    <div class="card">
      <h5 class="card-header">{{ 'label.log'|trans }}</h5>
      <div class="card-body">
        log
      </div>
    </div>

</div>
{% endblock content %}
