{% extends '@StewieUser/default/layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block filterBlock %}{% endblock filterBlock %}

{% block pageTitle %}<small class="text-muted">{{ 'header.group.edit'|trans }}</small> {{ group.name }}{% endblock pageTitle %}
{% block pageMenu %}
{{ form_start(form) }}
    {{ form_widget(form.submit) }}
    {% if is_granted('ROLE_USER_GROUP_DELETE') %}
      <a href="{{ path('stewie_user_group_delete', {'slug': group.slug}) }}" class="btn btn-danger" role="button">{{ 'label.group.delete'|trans }}</a>
    {% endif %}
{% endblock pageMenu %}

{% block content %}

<!-- tab bar -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">{{ 'label.details'|trans }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('stewie_user_group_edit_member', {'slug': group.slug}) }}">{{ 'label.member_s'|trans }}  <span class="badge badge-primary">{{group.users|length}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('stewie_user_group_edit_role', {'slug': group.slug}) }}">{{ 'label.role_s'|trans }}  <span class="badge badge-primary">{{group.groupRoles|length}}</a>
      </li>
    </ul>

<br>
<!-- actual form -->

    <div class="form-group row">
      <div class="col-sm-2">
        <strong>#</strong>
      </div>
      <div class="col-sm-10">
        {{ group.id }}
      </div>
    </div>

    <div class="border-top my-3"></div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <strong>{{ form_label(form.name) }}</strong>
      </div>
      <div class="col-sm-10">
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
      </div>
    </div>

    <div class="border-top my-3"></div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <strong>{{ form_label(form.avatarFile) }}</strong>
      </div>
      <div class="col-sm-auto">
        {% if vich_uploader_asset(group, 'avatarFile') %}
          <img src="{{ vich_uploader_asset(group, 'avatarFile') | imagine_filter('stewie_user_medium_filter') }}" alt="{{ 'labal.avatar'|trans }}" />
        {% endif %}
      </div>
      <div class="col">
        <!-- <img class="card-img-top" src="{#{ vich_uploader_asset(user, 'avatarFile') }#}" alt="Profile Pic" class="img-fluid"> -->
        {{ form_errors(form.avatarFile) }}
        {{ form_widget(form.avatarFile.file) }}
        {% if vich_uploader_asset(group, 'avatarFile') %}
          {{ form_widget(form.avatarFile.delete) }}
        {% endif %}
      </div>
    </div>


{{ form_end(form) }}
{% endblock content %}

{% block javascripts %}
  {{ parent() }}

  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

  <script>
    $(document).ready(function () {
      bsCustomFileInput.init()
    })
  </script>
{% endblock javascripts %}
