{% extends '@StewieUser/default/layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block filterBlock %}{% endblock filterBlock %}

{% block pageTitle %}<small class="text-muted">{{ 'header.group.edit'|trans }}</small> {{ group.name }}{% endblock pageTitle %}
{% block pageMenu %}

{% endblock pageMenu %}

{% block content %}

<!-- tab bar -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('stewie_user_group_edit_detail', {'slug': group.slug}) }}">{{ 'label.details'|trans }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">{{ 'label.member_s'|trans }} <span class="badge badge-primary">{{group.users|length}}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('stewie_user_group_edit_role', {'slug': group.slug}) }}">{{ 'label.role_s'|trans }} <span class="badge badge-primary">{{group.groupRoles|length}}</a>
      </li>
    </ul>

<br>
<!-- actual table -->

<table class="table table-striped">
<thead> <tr>
  <th>{{ knp_pagination_sortable(memberList, '#', 'u.id') }}</th>
  <th>{{ knp_pagination_sortable(memberList, 'label.username'|trans, 'u.username') }}
    {% if memberList.isSorted('u.username') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ knp_pagination_sortable(memberList, 'label.realName'|trans, ['u.firstName', 'u.lastName']) }}
    {% if memberList.isSorted('u.firstName+u.lastName') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ knp_pagination_sortable(memberList, 'label.email'|trans, 'u.email') }}
    {% if memberList.isSorted('u.email') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ 'label.actions'|trans }}</th>
</tr> </thead>
{% for item in memberList %}
<tr>
  <td>{{ item.id }}
    {% if vich_uploader_asset(item, 'avatarFile') %}
      <img src="{{ vich_uploader_asset(item, 'avatarFile') | imagine_filter('user_thumb_filter') }}" alt="{{ 'label.avatar'|trans }}" />
    {% endif %}
  </td>
  <td>{{ item.username }}</td>
  <td>{{ item.firstName }} {{ item.lastName }}</td>
  <td>{{ item.email }}</td>
  <td>
    {% if is_granted('ROLE_USER_GROUP_EDIT') %}
      <a data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.remove'|trans }}" href="{{ path('stewie_user_group_remove_user', {'slug': group.slug, 'user': item.id}) }}"><i class="fas fa-trash"></i></a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
{# display navigation #}
      {{ knp_pagination_render(memberList) }}

{% endblock content %}
