{% extends '@stefanwiegmann_user/default/layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block filterBlock %}{% endblock filterBlock %}

{% block pageTitle %}<small class="text-muted">{{ 'header.edit'|trans }}</small> {{ group.name }}{% endblock pageTitle %}
{% block pageMenu %}
{{ form_start(form) }}
    {{ form_widget(form.submit) }}
{% endblock pageMenu %}

{% block content %}

<!-- tab bar -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('sw_user_group_detail', {'id': group.id}) }}">{{ 'label.details'|trans }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('sw_user_group_member', {'group': group.id}) }}">{{ 'label.member_s'|trans }}  <span class="badge badge-primary">{{group.user|length}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">{{ 'label.role_s'|trans }}  <span class="badge badge-primary">{{group.groupRole|length}}</a>
      </li>
    </ul>

<br>

<!-- actual form -->

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        {{ form_label(form.groupRole) }}
      </div>
      <div class="col-sm-10">
        {{ form_errors(form.groupRole) }}
        {{ form_widget(form.groupRole) }}
      </div>
    </div>


{{ form_end(form) }}
{% endblock content %}
