{% extends '@StewieUser/default/layout.html.twig' %}
{% trans_default_domain 'StewieUserBundle' %}

{% block filterBlock %}{% endblock filterBlock %}
{% block pageTitle %}
    <p></p>
    {{ 'header.invite'|trans }}
    <p></p>
{% endblock pageTitle %}
{% block pageMenu %}{% endblock pageMenu %}

{% block content %}

    <div class="container-fluid">

        {{ form_start(form) }}

        <div class="row"><!-- name row -->

            <div class="col-md-auto col-form-label">
                <strong>{{ 'label.fullName'|trans }}</strong>
            </div>

        </div>

        <div class="row">

            <div class="col-md-auto">
                {{ form_errors(form.firstName) }}
                {{ form_widget(form.firstName, {'attr': {'placeholder': 'label.firstName'} }) }}
            </div>

            <div class="col-md-auto">
                {{ form_errors(form.lastName) }}
                {{ form_widget(form.lastName, {'attr': {'placeholder': 'label.lastName'} }) }}
            </div>

        </div><!-- name row -->

        <br>

        <div class="row"><!-- email row -->

            <div class="col-md-auto">
                <strong>{{ form_label(form.email) }}</strong>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </div>

        </div><!-- email row -->

        <br>

        <div class="row">

            <div class="col-md-auto">
                {{ form_widget(form.submit) }}
            </div>

        </div>

        {{ form_end(form) }}

    </div>

{% endblock content %}
