{% extends '@stefanwiegmann_user/default/layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block filterTitle %}{{ 'header.filter'|trans }}{% endblock filterTitle %}

{% block filterContent %}
{#{ form_start(filterForm) }#}
{#{ form_row(filterForm.userRole) }#}
{#{ form_end(filterForm) }#}
{% endblock filterContent %}

{% block pageTitle %}{{ 'header.list'|trans }}{% endblock pageTitle %}
{% block pageMenu %}{% endblock pageMenu %}

{% block content %}
{# total items count #}
<!-- <div class="count">
    {#{ users.sort }#}
</div> -->
<table class="table table-striped">
<thead> <tr>
  <th>{{ knp_pagination_sortable(userList, '#', 'u.id') }}</th>
  <th>{{ knp_pagination_sortable(userList, 'label.username'|trans, 'u.username') }}
    {% if userList.isSorted('u.username') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ knp_pagination_sortable(userList, 'label.realName'|trans, ['u.firstName', 'u.lastName']) }}
    {% if userList.isSorted('u.firstName+u.lastName') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ knp_pagination_sortable(userList, 'label.email'|trans, 'u.email') }}
    {% if userList.isSorted('u.email') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ 'label.roles'|trans }}</th>
  <th>{{ 'label.groups'|trans }}</th>
  <th>{{ knp_pagination_sortable(userList, 'label.lastLogin'|trans, 'u.lastLogin') }}
    {% if userList.isSorted('u.lastLogin') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ 'label.status'|trans }}</th>
  <th>{{ 'label.actions'|trans }}</th>
</tr> </thead>
{% for item in userList %}
<tr>
  <td>{{ item.id }}</td>
  <td>{{ item.username }}</td>
  <td>{{ item.firstName }} {{ item.lastName }}</td>
  <td>{{ item.email }}</td>
  <td>{% for role in item.userRole %}
       {{ role.name|replace({'ROLE_': "", '_': " "}) }}{% if not loop.last %},{% endif %}
    {% endfor %}</td>
  <td>{% for group in item.groups %}
       {{ group.name }}{% if not loop.last %},{% endif %}
    {% endfor %}</td>
  <td>
  </td>
  <td>
  </td>
  <td class="text-center">
    {% if is_granted('ROLE_USER_USER_VIEW') %}
      <a data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.view'|trans }}" href="{{ path('sw_user_user_view_detail', {'username': item.username}) }}"><i class="far fa-eye"></i></a>
    {% endif %}
    {% if is_granted('ROLE_USER_USER_EDIT') %}
      <a data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.edit'|trans }}" href="{{ path('sw_user_user_edit_detail', {'username': item.username}) }}"><i class="far fa-edit"></i></a>
    {% endif %}
    <!-- impersonate? -->
    {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
      <a data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.impersonate'|trans }}" href="{{ path('home', {'_switch_user': item.username }) }}"><i class="fas fa-people-arrows"></i></a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
{# display navigation #}
      {{ knp_pagination_render(userList) }}
{% endblock content %}
