{% extends '@StefanwiegmannUser/default/layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block filterBlock %}{% endblock filterBlock %}

{% block pageTitle %}<small class="text-muted">{{ 'header.role.view'|trans }}</small> {{ role.translationKey|trans({}, 'Roles') }}{% endblock pageTitle %}
{% block pageMenu %}{% endblock pageMenu %}

{% block content %}

<!-- tab bar -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">{{ 'label.details'|trans }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('sw_user_role_view_user', {'slug': role.slug}) }}">{{ 'label.user_s'|trans }} <span class="badge badge-primary">{{role.users|length}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('sw_user_role_view_group', {'slug': role.slug}) }}">{{ 'label.group_s'|trans }} <span class="badge badge-primary">{{role.groups|length}}</a>
      </li>
    </ul>

<br>
<!-- actual form -->

    <div class="form-group row">
      <div class="col-sm-2">
        <strong>#</strong>
      </div>
      <div class="col-sm-10">
        {{ role.id }}
      </div>
    </div>

    <div class="border-top my-3"></div>

    <div class="form-group row">
      <div class="col-sm-2">
        <strong>{{ 'label.realName'|trans }}</strong>
      </div>
      <div class="col-sm-10">
        {{ role.name }}
      </div>
    </div>

    <div class="border-top my-3"></div>

    <div class="form-group row">
      <div class="col-sm-2">
        <strong>{{ 'label.description'|trans }}</strong>
      </div>
      <div class="col-sm-10">
        {{ role.description }}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2">
        <strong>{{ 'label.sort'|trans }}</strong>
      </div>
      <div class="col-sm-10">
        {{ role.sort }}
      </div>
    </div>

    <div class="border-top my-3"></div>

    <div class="form-group row">
      <div class="col-sm-2">
        <strong>{{ 'label.avatar'|trans }}</strong>
      </div>
      <div class="col-sm-10">
        {% if vich_uploader_asset(role, 'avatarFile') %}
          <img src="{{ vich_uploader_asset(role, 'avatarFile') | imagine_filter('user_medium_filter') }}" alt="{{ 'labal.avatar'|trans }}" />
        {% endif %}
      </div>
    </div>

{% endblock content %}
