{% extends '@StewieUser/default/layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block main %}
<br>
<div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="container-fluid">
        <h1 class="h3 mb-3 font-weight-normal">{{ 'header.reset.request'|trans }}</h1>

      <!-- actual form -->
      {{ form_start(form) }}

          <div class="form-group row">
            <div class="col-sm-4 col-form-label">
              <strong>{{ form_label(form.email) }}</strong>
            </div>
            <div class="col-sm-8">
              {{ form_errors(form.email) }}
              {{ form_widget(form.email) }}
            </div>
          </div>

          <br>
          <div class="row justify-content-md-center">
            {{ form_widget(form.submit) }}
          </div>



      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock main %}
