{% extends '@StefanwiegmannUser/default/layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block filterBlock %}{% endblock filterBlock %}

{% block pageTitle %}<small class="text-muted">{{ 'header.user.edit'|trans }}</small> {{ user.username }}{% endblock pageTitle %}
{% block pageMenu %}
{{ form_start(form) }}
    {{ form_widget(form.submit) }}
    <a href="{#{ path('sw_user_group_delete', {'username': user.username}) }#}" class="btn btn-danger" role="button">{{ 'label.delete'|trans }}</a>
{% endblock pageMenu %}

{% block content %}

<!-- tab bar -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">{{ 'label.details'|trans }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('sw_user_user_edit_group', {'username': user.username}) }}">{{ 'label.group_s'|trans }}  <span class="badge badge-primary">{{user.groups|length}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('sw_user_user_edit_role', {'username': user.username}) }}">{{ 'label.role_s'|trans }}  <span class="badge badge-primary">{{user.userRoles|length}}</a>
      </li>
    </ul>

<br>
<!-- actual form -->

    <div class="form-group row">
      <div class="col-sm-2">
        <strong>#</strong>
      </div>
      <div class="col-sm-10">
        {{ user.id }}
      </div>
    </div>

    <div class="border-top my-3"></div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <strong>{{ form_label(form.username) }}</strong>
      </div>
      <div class="col-sm-10">
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <strong>{{ form_label(form.email) }}</strong>
      </div>
      <div class="col-sm-10">
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
      </div>
    </div>

    <div class="border-top my-3"></div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <strong>{{ 'label.fullName'|trans }}</strong>
      </div>
      <div class="col-sm-auto">
        {{ form_errors(form.firstName) }}
        {{ form_widget(form.firstName, {'attr': {'placeholder': 'label.firstName'} }) }}
      </div>
      <div class="col-sm-auto">
        {{ form_errors(form.lastName) }}
        {{ form_widget(form.lastName, {'attr': {'placeholder': 'label.lastName'} }) }}
      </div>
    </div>

    <div class="border-top my-3"></div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <strong>{{ form_label(form.avatarFile) }}</strong>
      </div>
      <div class="col-sm-auto">
        {% if vich_uploader_asset(user, 'avatarFile') %}
          <img src="{{ vich_uploader_asset(user, 'avatarFile') | imagine_filter('user_medium_filter') }}" alt="{{ 'labal.avatar'|trans }}" />
        {% endif %}
      </div>
      <div class="col">
        <!-- <img class="card-img-top" src="{#{ vich_uploader_asset(user, 'avatarFile') }#}" alt="Profile Pic" class="img-fluid"> -->
        {{ form_errors(form.avatarFile) }}
        {{ form_widget(form.avatarFile.file) }}
        {% if vich_uploader_asset(user, 'avatarFile') %}
          {{ form_widget(form.avatarFile.delete) }}
        {% endif %}
      </div>
    </div>


{{ form_end(form) }}
{% endblock content %}

{% block javascripts %}
  {{ parent() }}

  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

  <script>
    $(document).ready(function () {
      bsCustomFileInput.init()
    })
  </script>
{% endblock javascripts %}
